<!DOCTYPE html>
<html>
<head>
    <title>Account Detail</title>
</head>
<body>
    <h1>Account Detail</h1>
    <p><strong>Account Name:</strong> {{ account.account_name }}</p>
    <p><strong>Account Balance:</strong> {{ account.account_balance }}</p>
    <p><strong>Account R:</strong> {{ account.account_r }}</p>
    <p><strong>Daily Profit Target R:</strong> {{ account.daily_profit_target_r }}</p>
    <p><strong>Daily Loss Limit R:</strong> {{ account.daily_loss_limit_r }}</p>
    <p><strong>Daily Operation Limit:</strong> {{ account.daily_operation_limit }}</p>
    <!-- Diğer alanlar için de aynı şekilde bilgi ekleyebilirsiniz -->
</body>
</html>
